<a href="https://colab.research.google.com/github/smilesarah/Python/blob/main/Electric_Vehicles_SQL_in_Jupyter_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Washington State EV data
https://data.wa.gov/Transportation/Electric-Vehicle-Population-Data/f6w7-q2d2
Helpful site for finding data:https://data.gov/

To create a database using Python, you can utilize a database management system (DBMS) such as SQLite, MySQL, PostgreSQL, or others. Here's an example using SQLite, which is a lightweight, file-based DBMS that doesn't require a separate server:

Import the required module:

In [14]:
import sqlite3

Establish a connection to the database. This line creates a connection to the database file named 'database.db'. If the file doesn't exist, it will be created. If it already exists, the connection will be established.

In [15]:
conn = sqlite3.connect('database.db')

The cursor is used to execute SQL statements and manage the database.

In [48]:
#create a cursor object:
cursor = conn.cursor()

Write a script to create a table in the database.

In [50]:
cursor.execute('''CREATE TABLE vehicles (
    VIN TEXT,
    County TEXT,
    City TEXT,
    State TEXT,
    PostalCode TEXT,
    Year INTEGER,
    Make TEXT,
    Model TEXT,
    ElectricVehicleType TEXT,
    CleanAlternativeFuelVehicleEligibility TEXT,
    ElectricRange INTEGER,
    BaseMSRP DECIMAL(10, 2),
    LegislativeDistrict INTEGER,
    DOLVehicleID TEXT,
    VehicleLocation TEXT,
    ElectricUtility TEXT,
    CensusTract2020 TEXT,
    Counties TEXT,
    CongressionalDistricts TEXT,
    WAOFM_LegislativeDistrictBoundary TEXT

)''')

OperationalError: ignored

Read the csv data file using pandas

In [51]:
import pandas as pd

In [52]:
data = pd.read_csv('/content/Electric_Vehicle_Population_Data.csv')
data

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract,Counties,Congressional Districts,WAOFM - GIS - Legislative District Boundary
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10,2746.0,4.0,20.0
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,0,23.0,171566447,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10,848.0,6.0,29.0
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,36.0,9426525,POINT (-122.40092 47.65908),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,3009.0,7.0,31.0
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,36.0,211807760,POINT (-122.3684 47.64586),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,3009.0,7.0,31.0
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,185810306,POINT (-122.75379 47.06316),PUGET SOUND ENERGY INC,5.306701e+10,2742.0,10.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,26.0,231134102,POINT (-122.58354539999999 47.32344880000005),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10,3210.0,6.0,33.0
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,29.0,185810943,POINT (-122.43810499999995 47.203220000000044),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10,3210.0,6.0,35.0
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,36.0,176542418,POINT (-122.35022 47.63824),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,3009.0,7.0,31.0
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,0,10.0,102834938,POINT (-122.40049 48.23986),BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10,3007.0,2.0,16.0
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,2.0,180473639,POINT (-122.30116 47.1165),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10,3210.0,10.0,32.0

# New Section

In [7]:
# DON"T RUN
# Execute the SQL query to drop the table
query = "DROP TABLE IF EXISTS vehicles"
cursor.execute(query)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130443 entries, 0 to 130442
Data columns (total 20 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         130443 non-null  object
 1   County                                             130440 non-null  object
 2   City                                               130440 non-null  object
 3   State                                              130443 non-null  object
 4   Postal Code                                        130440 non-null  float64
 5   Model Year                                         130443 non-null  int64
 6   Make                                               130443 non-null  object
 7   Model                                              130221 non-null  object
 8   Electric Vehicle Type                              130443 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  130443 non-null  object
 10  Electric Range                                     130443 non-null  int64
 11  Base MSRP                                          130443 non-null  int64
 12  Legislative District                               130138 non-null  float64
 13  DOL Vehicle ID                                     130443 non-null  int64
 14  Vehicle Location                                   130410 non-null  object
 15  Electric Utility                                   130440 non-null  object
 16  2020 Census Tract                                  130440 non-null  float64
 17  Counties                                           129521 non-null  float64
 18  Congressional Districts                            130111 non-null  float64
 19  WAOFM - GIS - Legislative District Boundary        130111 non-null  float64
dtypes: float64(6), int64(4), object(10)
memory usage: 19.9+ MB

In [53]:
# Insert the data into the table
query = "INSERT INTO vehicles VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
values = data.values.tolist()  # Convert DataFrame rows to a list of tuples
cursor.executemany(query, values)

In [54]:
# Commit the changes to the database
conn.commit()

In [55]:
query = "SELECT * FROM vehicles LIMIT 5"
results = cursor.execute(query)
for row in results:
  print(row)

('5YJXCAE26J', 'Yakima', 'Yakima', 'WA', '98908.0', 2018, 'TESLA', 'MODEL X', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 238, 0, 14, '141151601', 'POINT (-120.56916 46.58514)', 'PACIFICORP', '53077001100.0', '2746.0', '4.0', '20.0')
('JHMZC5F37M', 'Kitsap', 'Poulsbo', 'WA', '98370.0', 2021, 'HONDA', 'CLARITY', 'Plug-in Hybrid Electric Vehicle (PHEV)', 'Clean Alternative Fuel Vehicle Eligible', 47, 0, 23, '171566447', 'POINT (-122.64681 47.73689)', 'PUGET SOUND ENERGY INC', '53035090400.0', '848.0', '6.0', '29.0')
('5YJ3E1EB0K', 'King', 'Seattle', 'WA', '98199.0', 2019, 'TESLA', 'MODEL 3', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 220, 0, 36, '9426525', 'POINT (-122.40092 47.65908)', 'CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)', '53033005803.0', '3009.0', '7.0', '31.0')
('1N4AZ0CP5D', 'King', 'Seattle', 'WA', '98119.0', 2013, 'NISSAN', 'LEAF', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 75, 0, 36, '211807760', 'POINT (-122.3684 47.64586)', 'CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)', '53033005804.0', '3009.0', '7.0', '31.0')
('5YJSA1E21H', 'Thurston', 'Lacey', 'WA', '98516.0', 2017, 'TESLA', 'MODEL S', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 210, 0, 22, '185810306', 'POINT (-122.75379 47.06316)', 'PUGET SOUND ENERGY INC', '53067012226.0', '2742.0', '10.0', '2.0')

In [ ]:
#count shows the number of rows

In [56]:
# Execute the SQL query to aggregate the vehicles
query = "SELECT Make, Year, COUNT(*) as Count FROM vehicles GROUP BY Make, Year"
cursor.execute(query)

# Fetch all the rows of the result
results = cursor.fetchall()

In [57]:
for row in results:
  print(row)

('AUDI', 2016, 418)
('AUDI', 2017, 376)
('AUDI', 2018, 356)
('AUDI', 2019, 816)
('AUDI', 2020, 446)
('AUDI', 2021, 1052)
('AUDI', 2022, 1220)
('AUDI', 2023, 560)
('AZURE DYNAMICS', 2011, 8)
('AZURE DYNAMICS', 2012, 6)
('BENTLEY', 2020, 2)
('BENTLEY', 2021, 2)
('BENTLEY', 2022, 2)
('BMW', 2014, 890)
('BMW', 2015, 820)
('BMW', 2016, 774)
('BMW', 2017, 1326)
('BMW', 2018, 1412)
('BMW', 2019, 594)
('BMW', 2020, 284)
('BMW', 2021, 1248)
('BMW', 2022, 1794)
('BMW', 2023, 2250)
('CADILLAC', 2014, 108)
('CADILLAC', 2016, 32)
('CADILLAC', 2017, 6)
('CADILLAC', 2018, 26)
('CADILLAC', 2023, 34)
('CHEVROLET', 1997, 2)
('CHEVROLET', 2011, 150)
('CHEVROLET', 2012, 966)
('CHEVROLET', 2013, 1622)
('CHEVROLET', 2014, 1442)
('CHEVROLET', 2015, 944)
('CHEVROLET', 2016, 610)
('CHEVROLET', 2017, 5466)
('CHEVROLET', 2018, 2276)
('CHEVROLET', 2019, 1952)
('CHEVROLET', 2020, 1878)
('CHEVROLET', 2021, 734)
('CHEVROLET', 2022, 1868)
('CHEVROLET', 2023, 2592)
('CHRYSLER', 2017, 190)
('CHRYSLER', 2018, 1104)
('CHRYSLER', 2019, 238)
('CHRYSLER', 2020, 582)
('CHRYSLER', 2021, 980)
('CHRYSLER', 2022, 698)
('CHRYSLER', 2023, 486)
('FIAT', 2013, 212)
('FIAT', 2014, 200)
('FIAT', 2015, 468)
('FIAT', 2016, 292)
('FIAT', 2017, 312)
('FIAT', 2018, 96)
('FIAT', 2019, 26)
('FISKER', 2012, 28)
('FORD', 1998, 2)
('FORD', 1999, 8)
('FORD', 2000, 18)
('FORD', 2012, 24)
('FORD', 2013, 1258)
('FORD', 2014, 1238)
('FORD', 2015, 1100)
('FORD', 2016, 1568)
('FORD', 2017, 1300)
('FORD', 2018, 330)
('FORD', 2019, 292)
('FORD', 2020, 130)
('FORD', 2021, 1730)
('FORD', 2022, 3478)
('FORD', 2023, 1010)
('GENESIS', 2023, 108)
('HONDA', 2014, 18)
('HONDA', 2018, 1212)
('HONDA', 2019, 158)
('HONDA', 2020, 162)
('HONDA', 2021, 32)
('HYUNDAI', 2016, 82)
('HYUNDAI', 2017, 90)
('HYUNDAI', 2018, 42)
('HYUNDAI', 2019, 246)
('HYUNDAI', 2020, 416)
('HYUNDAI', 2021, 360)
('HYUNDAI', 2022, 1248)
('HYUNDAI', 2023, 1804)
('JAGUAR', 2019, 244)
('JAGUAR', 2020, 148)
('JAGUAR', 2021, 12)
('JAGUAR', 2022, 38)
('JAGUAR', 2023, 2)
('JEEP', 2021, 1258)
('JEEP', 2022, 1444)
('JEEP', 2023, 1954)
('KIA', 2015, 42)
('KIA', 2016, 804)
('KIA', 2017, 420)
('KIA', 2018, 628)
('KIA', 2019, 1358)
('KIA', 2020, 1026)
('KIA', 2021, 150)
('KIA', 2022, 4244)
('KIA', 2023, 1832)
('LAND ROVER', 2020, 60)
('LAND ROVER', 2021, 16)
('LAND ROVER', 2023, 6)
('LEXUS', 2022, 82)
('LEXUS', 2023, 46)
('LINCOLN', 2020, 58)
('LINCOLN', 2021, 82)
('LINCOLN', 2022, 232)
('LINCOLN', 2023, 44)
('LUCID', 2022, 198)
('LUCID', 2023, 68)
('MERCEDES-BENZ', 2014, 58)
('MERCEDES-BENZ', 2015, 46)
('MERCEDES-BENZ', 2016, 70)
('MERCEDES-BENZ', 2017, 88)
('MERCEDES-BENZ', 2018, 114)
('MERCEDES-BENZ', 2019, 278)
('MERCEDES-BENZ', 2020, 66)
('MERCEDES-BENZ', 2022, 288)
('MERCEDES-BENZ', 2023, 414)
('MINI', 2018, 100)
('MINI', 2019, 198)
('MINI', 2020, 6)
('MINI', 2021, 276)
('MINI', 2022, 438)
('MINI', 2023, 438)
('MITSUBISHI', 2012, 86)
('MITSUBISHI', 2014, 20)
('MITSUBISHI', 2016, 20)
('MITSUBISHI', 2017, 2)
('MITSUBISHI', 2018, 374)
('MITSUBISHI', 2019, 304)
('MITSUBISHI', 2020, 190)
('MITSUBISHI', 2021, 18)
('MITSUBISHI', 2022, 170)
('MITSUBISHI', 2023, 236)
('NISSAN', 2011, 1440)
('NISSAN', 2012, 1188)
('NISSAN', 2013, 3846)
('NISSAN', 2014, 1324)
('NISSAN', 2015, 3678)
('NISSAN', 2016, 2358)
('NISSAN', 2017, 1884)
('NISSAN', 2018, 2460)
('NISSAN', 2019, 2796)
('NISSAN', 2020, 1204)
('NISSAN', 2021, 992)
('NISSAN', 2022, 1876)
('NISSAN', 2023, 1000)
('POLESTAR', 2021, 208)
('POLESTAR', 2022, 734)
('POLESTAR', 2023, 354)
('PORSCHE', 2014, 16)
('PORSCHE', 2015, 72)
('PORSCHE', 2016, 154)
('PORSCHE', 2017, 144)
('PORSCHE', 2018, 162)
('PORSCHE', 2019, 132)
('PORSCHE', 2020, 316)
('PORSCHE', 2021, 328)
('PORSCHE', 2022, 424)
('PORSCHE', 2023, 124)
('RIVIAN', 2022, 2560)
('RIVIAN', 2023, 664)
('SMART', 2013, 60)
('SMART', 2014, 140)
('SMART', 2015, 104)
('SMART', 2016, 68)
('SMART', 2017, 68)
('SMART', 2018, 96)
('SMART', 2019, 16)
('SUBARU', 2019, 128)
('SUBARU', 2023, 334)
('TESLA', 2008, 42)
('TESLA', 2010, 42)
('TESLA', 2011, 14)
('TESLA', 2012, 248)
('TESLA', 2013, 1550)
('TESLA', 2014, 1296)
('TESLA', 2015, 2166)
('TESLA', 2016, 3232)
('TESLA', 2017, 3312)
('TESLA', 2018, 16072)
('TESLA', 2019, 9468)
('TESLA', 2020, 14104)
('TESLA', 2021, 22202)
('TESLA', 2022, 28566)
('TESLA', 2023, 16944)
('TH!NK', 2011, 6)
('TOYOTA', 2002, 4)
('TOYOTA', 2003, 2)
('TOYOTA', 2012, 772)
('TOYOTA', 2013, 602)
('TOYOTA', 2014, 432)
('TOYOTA', 2015, 184)
('TOYOTA', 2017, 1784)
('TOYOTA', 2018, 1320)
('TOYOTA', 2019, 380)
('TOYOTA', 2020, 654)
('TOYOTA', 2021, 1970)
('TOYOTA', 2022, 1070)
('TOYOTA', 2023, 366)
('VOLKSWAGEN', 2015, 238)
('VOLKSWAGEN', 2016, 656)
('VOLKSWAGEN', 2017, 102)
('VOLKSWAGEN', 2018, 72)
('VOLKSWAGEN', 2019, 1002)
('VOLKSWAGEN', 2021, 1950)
('VOLKSWAGEN', 2022, 1446)
('VOLKSWAGEN', 2023, 1398)
('VOLVO', 2016, 220)
('VOLVO', 2017, 232)
('VOLVO', 2018, 456)
('VOLVO', 2019, 388)
('VOLVO', 2020, 366)
('VOLVO', 2021, 1290)
('VOLVO', 2022, 1908)
('VOLVO', 2023, 1366)
('WHEEGO ELECTRIC CARS', 2010, 6)

In [26]:
# Execute the SQL query to get the range of BaseMSRP values
query = "SELECT MIN(BaseMSRP) AS MinValue, MAX(BaseMSRP) AS MaxValue FROM vehicles"
cursor.execute(query)

# Fetch the result
result = cursor.fetchone()

# Extract the minimum and maximum values
min_value = result[0]
max_value = result[1]

# Print the range of BaseMSRP values
print(f"Range of BaseMSRP values: {min_value} - {max_value}")

Range of BaseMSRP values: 0 - 845000

Update the quesry to exclude values where the Base MSRP price is zero.

In [58]:
# Execute the SQL query to get the range of BaseMSRP values
query = "SELECT MIN(BaseMSRP) AS MinValue, MAX(BaseMSRP) AS MaxValue FROM vehicles WHERE BaseMSRP > 0"
cursor.execute(query)

# Fetch the result
result = cursor.fetchone()

# Extract the minimum and maximum values
min_value = result[0]
max_value = result[1]

# Print the range of BaseMSRP values
print(f"Range of BaseMSRP values: {min_value} - {max_value}")

Range of BaseMSRP values: 31950 - 845000

In [59]:
# Execute the SQL query to get the count of vehicles by Make and Year
query = "SELECT Make, Year, COUNT(*) AS VehicleCount FROM vehicles GROUP BY Year, Make"
cursor.execute(query)

# Fetch all the rows of the result
results = cursor.fetchall()

# Print the count of vehicles by Make and Year
for row in results:
    make = row[0]
    model_year = row[1]
    count = row[2]
    print(f"Year: {model_year}, Make: {make}, Vehicle Count: {count}")

Year: 1997, Make: CHEVROLET, Vehicle Count: 2
Year: 1998, Make: FORD, Vehicle Count: 2
Year: 1999, Make: FORD, Vehicle Count: 8
Year: 2000, Make: FORD, Vehicle Count: 18
Year: 2002, Make: TOYOTA, Vehicle Count: 4
Year: 2003, Make: TOYOTA, Vehicle Count: 2
Year: 2008, Make: TESLA, Vehicle Count: 42
Year: 2010, Make: TESLA, Vehicle Count: 42
Year: 2010, Make: WHEEGO ELECTRIC CARS, Vehicle Count: 6
Year: 2011, Make: AZURE DYNAMICS, Vehicle Count: 8
Year: 2011, Make: CHEVROLET, Vehicle Count: 150
Year: 2011, Make: NISSAN, Vehicle Count: 1440
Year: 2011, Make: TESLA, Vehicle Count: 14
Year: 2011, Make: TH!NK, Vehicle Count: 6
Year: 2012, Make: AZURE DYNAMICS, Vehicle Count: 6
Year: 2012, Make: CHEVROLET, Vehicle Count: 966
Year: 2012, Make: FISKER, Vehicle Count: 28
Year: 2012, Make: FORD, Vehicle Count: 24
Year: 2012, Make: MITSUBISHI, Vehicle Count: 86
Year: 2012, Make: NISSAN, Vehicle Count: 1188
Year: 2012, Make: TESLA, Vehicle Count: 248
Year: 2012, Make: TOYOTA, Vehicle Count: 772
Year: 2013, Make: CHEVROLET, Vehicle Count: 1622
Year: 2013, Make: FIAT, Vehicle Count: 212
Year: 2013, Make: FORD, Vehicle Count: 1258
Year: 2013, Make: NISSAN, Vehicle Count: 3846
Year: 2013, Make: SMART, Vehicle Count: 60
Year: 2013, Make: TESLA, Vehicle Count: 1550
Year: 2013, Make: TOYOTA, Vehicle Count: 602
Year: 2014, Make: BMW, Vehicle Count: 890
Year: 2014, Make: CADILLAC, Vehicle Count: 108
Year: 2014, Make: CHEVROLET, Vehicle Count: 1442
Year: 2014, Make: FIAT, Vehicle Count: 200
Year: 2014, Make: FORD, Vehicle Count: 1238
Year: 2014, Make: HONDA, Vehicle Count: 18
Year: 2014, Make: MERCEDES-BENZ, Vehicle Count: 58
Year: 2014, Make: MITSUBISHI, Vehicle Count: 20
Year: 2014, Make: NISSAN, Vehicle Count: 1324
Year: 2014, Make: PORSCHE, Vehicle Count: 16
Year: 2014, Make: SMART, Vehicle Count: 140
Year: 2014, Make: TESLA, Vehicle Count: 1296
Year: 2014, Make: TOYOTA, Vehicle Count: 432
Year: 2015, Make: BMW, Vehicle Count: 820
Year: 2015, Make: CHEVROLET, Vehicle Count: 944
Year: 2015, Make: FIAT, Vehicle Count: 468
Year: 2015, Make: FORD, Vehicle Count: 1100
Year: 2015, Make: KIA, Vehicle Count: 42
Year: 2015, Make: MERCEDES-BENZ, Vehicle Count: 46
Year: 2015, Make: NISSAN, Vehicle Count: 3678
Year: 2015, Make: PORSCHE, Vehicle Count: 72
Year: 2015, Make: SMART, Vehicle Count: 104
Year: 2015, Make: TESLA, Vehicle Count: 2166
Year: 2015, Make: TOYOTA, Vehicle Count: 184
Year: 2015, Make: VOLKSWAGEN, Vehicle Count: 238
Year: 2016, Make: AUDI, Vehicle Count: 418
Year: 2016, Make: BMW, Vehicle Count: 774
Year: 2016, Make: CADILLAC, Vehicle Count: 32
Year: 2016, Make: CHEVROLET, Vehicle Count: 610
Year: 2016, Make: FIAT, Vehicle Count: 292
Year: 2016, Make: FORD, Vehicle Count: 1568
Year: 2016, Make: HYUNDAI, Vehicle Count: 82
Year: 2016, Make: KIA, Vehicle Count: 804
Year: 2016, Make: MERCEDES-BENZ, Vehicle Count: 70
Year: 2016, Make: MITSUBISHI, Vehicle Count: 20
Year: 2016, Make: NISSAN, Vehicle Count: 2358
Year: 2016, Make: PORSCHE, Vehicle Count: 154
Year: 2016, Make: SMART, Vehicle Count: 68
Year: 2016, Make: TESLA, Vehicle Count: 3232
Year: 2016, Make: VOLKSWAGEN, Vehicle Count: 656
Year: 2016, Make: VOLVO, Vehicle Count: 220
Year: 2017, Make: AUDI, Vehicle Count: 376
Year: 2017, Make: BMW, Vehicle Count: 1326
Year: 2017, Make: CADILLAC, Vehicle Count: 6
Year: 2017, Make: CHEVROLET, Vehicle Count: 5466
Year: 2017, Make: CHRYSLER, Vehicle Count: 190
Year: 2017, Make: FIAT, Vehicle Count: 312
Year: 2017, Make: FORD, Vehicle Count: 1300
Year: 2017, Make: HYUNDAI, Vehicle Count: 90
Year: 2017, Make: KIA, Vehicle Count: 420
Year: 2017, Make: MERCEDES-BENZ, Vehicle Count: 88
Year: 2017, Make: MITSUBISHI, Vehicle Count: 2
Year: 2017, Make: NISSAN, Vehicle Count: 1884
Year: 2017, Make: PORSCHE, Vehicle Count: 144
Year: 2017, Make: SMART, Vehicle Count: 68
Year: 2017, Make: TESLA, Vehicle Count: 3312
Year: 2017, Make: TOYOTA, Vehicle Count: 1784
Year: 2017, Make: VOLKSWAGEN, Vehicle Count: 102
Year: 2017, Make: VOLVO, Vehicle Count: 232
Year: 2018, Make: AUDI, Vehicle Count: 356
Year: 2018, Make: BMW, Vehicle Count: 1412
Year: 2018, Make: CADILLAC, Vehicle Count: 26
Year: 2018, Make: CHEVROLET, Vehicle Count: 2276
Year: 2018, Make: CHRYSLER, Vehicle Count: 1104
Year: 2018, Make: FIAT, Vehicle Count: 96
Year: 2018, Make: FORD, Vehicle Count: 330
Year: 2018, Make: HONDA, Vehicle Count: 1212
Year: 2018, Make: HYUNDAI, Vehicle Count: 42
Year: 2018, Make: KIA, Vehicle Count: 628
Year: 2018, Make: MERCEDES-BENZ, Vehicle Count: 114
Year: 2018, Make: MINI, Vehicle Count: 100
Year: 2018, Make: MITSUBISHI, Vehicle Count: 374
Year: 2018, Make: NISSAN, Vehicle Count: 2460
Year: 2018, Make: PORSCHE, Vehicle Count: 162
Year: 2018, Make: SMART, Vehicle Count: 96
Year: 2018, Make: TESLA, Vehicle Count: 16072
Year: 2018, Make: TOYOTA, Vehicle Count: 1320
Year: 2018, Make: VOLKSWAGEN, Vehicle Count: 72
Year: 2018, Make: VOLVO, Vehicle Count: 456
Year: 2019, Make: AUDI, Vehicle Count: 816
Year: 2019, Make: BMW, Vehicle Count: 594
Year: 2019, Make: CHEVROLET, Vehicle Count: 1952
Year: 2019, Make: CHRYSLER, Vehicle Count: 238
Year: 2019, Make: FIAT, Vehicle Count: 26
Year: 2019, Make: FORD, Vehicle Count: 292
Year: 2019, Make: HONDA, Vehicle Count: 158
Year: 2019, Make: HYUNDAI, Vehicle Count: 246
Year: 2019, Make: JAGUAR, Vehicle Count: 244
Year: 2019, Make: KIA, Vehicle Count: 1358
Year: 2019, Make: MERCEDES-BENZ, Vehicle Count: 278
Year: 2019, Make: MINI, Vehicle Count: 198
Year: 2019, Make: MITSUBISHI, Vehicle Count: 304
Year: 2019, Make: NISSAN, Vehicle Count: 2796
Year: 2019, Make: PORSCHE, Vehicle Count: 132
Year: 2019, Make: SMART, Vehicle Count: 16
Year: 2019, Make: SUBARU, Vehicle Count: 128
Year: 2019, Make: TESLA, Vehicle Count: 9468
Year: 2019, Make: TOYOTA, Vehicle Count: 380
Year: 2019, Make: VOLKSWAGEN, Vehicle Count: 1002
Year: 2019, Make: VOLVO, Vehicle Count: 388
Year: 2020, Make: AUDI, Vehicle Count: 446
Year: 2020, Make: BENTLEY, Vehicle Count: 2
Year: 2020, Make: BMW, Vehicle Count: 284
Year: 2020, Make: CHEVROLET, Vehicle Count: 1878
Year: 2020, Make: CHRYSLER, Vehicle Count: 582
Year: 2020, Make: FORD, Vehicle Count: 130
Year: 2020, Make: HONDA, Vehicle Count: 162
Year: 2020, Make: HYUNDAI, Vehicle Count: 416
Year: 2020, Make: JAGUAR, Vehicle Count: 148
Year: 2020, Make: KIA, Vehicle Count: 1026
Year: 2020, Make: LAND ROVER, Vehicle Count: 60
Year: 2020, Make: LINCOLN, Vehicle Count: 58
Year: 2020, Make: MERCEDES-BENZ, Vehicle Count: 66
Year: 2020, Make: MINI, Vehicle Count: 6
Year: 2020, Make: MITSUBISHI, Vehicle Count: 190
Year: 2020, Make: NISSAN, Vehicle Count: 1204
Year: 2020, Make: PORSCHE, Vehicle Count: 316
Year: 2020, Make: TESLA, Vehicle Count: 14104
Year: 2020, Make: TOYOTA, Vehicle Count: 654
Year: 2020, Make: VOLVO, Vehicle Count: 366
Year: 2021, Make: AUDI, Vehicle Count: 1052
Year: 2021, Make: BENTLEY, Vehicle Count: 2
Year: 2021, Make: BMW, Vehicle Count: 1248
Year: 2021, Make: CHEVROLET, Vehicle Count: 734
Year: 2021, Make: CHRYSLER, Vehicle Count: 980
Year: 2021, Make: FORD, Vehicle Count: 1730
Year: 2021, Make: HONDA, Vehicle Count: 32
Year: 2021, Make: HYUNDAI, Vehicle Count: 360
Year: 2021, Make: JAGUAR, Vehicle Count: 12
Year: 2021, Make: JEEP, Vehicle Count: 1258
Year: 2021, Make: KIA, Vehicle Count: 150
Year: 2021, Make: LAND ROVER, Vehicle Count: 16
Year: 2021, Make: LINCOLN, Vehicle Count: 82
Year: 2021, Make: MINI, Vehicle Count: 276
Year: 2021, Make: MITSUBISHI, Vehicle Count: 18
Year: 2021, Make: NISSAN, Vehicle Count: 992
Year: 2021, Make: POLESTAR, Vehicle Count: 208
Year: 2021, Make: PORSCHE, Vehicle Count: 328
Year: 2021, Make: TESLA, Vehicle Count: 22202
Year: 2021, Make: TOYOTA, Vehicle Count: 1970
Year: 2021, Make: VOLKSWAGEN, Vehicle Count: 1950
Year: 2021, Make: VOLVO, Vehicle Count: 1290
Year: 2022, Make: AUDI, Vehicle Count: 1220
Year: 2022, Make: BENTLEY, Vehicle Count: 2
Year: 2022, Make: BMW, Vehicle Count: 1794
Year: 2022, Make: CHEVROLET, Vehicle Count: 1868
Year: 2022, Make: CHRYSLER, Vehicle Count: 698
Year: 2022, Make: FORD, Vehicle Count: 3478
Year: 2022, Make: HYUNDAI, Vehicle Count: 1248
Year: 2022, Make: JAGUAR, Vehicle Count: 38
Year: 2022, Make: JEEP, Vehicle Count: 1444
Year: 2022, Make: KIA, Vehicle Count: 4244
Year: 2022, Make: LEXUS, Vehicle Count: 82
Year: 2022, Make: LINCOLN, Vehicle Count: 232
Year: 2022, Make: LUCID, Vehicle Count: 198
Year: 2022, Make: MERCEDES-BENZ, Vehicle Count: 288
Year: 2022, Make: MINI, Vehicle Count: 438
Year: 2022, Make: MITSUBISHI, Vehicle Count: 170
Year: 2022, Make: NISSAN, Vehicle Count: 1876
Year: 2022, Make: POLESTAR, Vehicle Count: 734
Year: 2022, Make: PORSCHE, Vehicle Count: 424
Year: 2022, Make: RIVIAN, Vehicle Count: 2560
Year: 2022, Make: TESLA, Vehicle Count: 28566
Year: 2022, Make: TOYOTA, Vehicle Count: 1070
Year: 2022, Make: VOLKSWAGEN, Vehicle Count: 1446
Year: 2022, Make: VOLVO, Vehicle Count: 1908
Year: 2023, Make: AUDI, Vehicle Count: 560
Year: 2023, Make: BMW, Vehicle Count: 2250
Year: 2023, Make: CADILLAC, Vehicle Count: 34
Year: 2023, Make: CHEVROLET, Vehicle Count: 2592
Year: 2023, Make: CHRYSLER, Vehicle Count: 486
Year: 2023, Make: FORD, Vehicle Count: 1010
Year: 2023, Make: GENESIS, Vehicle Count: 108
Year: 2023, Make: HYUNDAI, Vehicle Count: 1804
Year: 2023, Make: JAGUAR, Vehicle Count: 2
Year: 2023, Make: JEEP, Vehicle Count: 1954
Year: 2023, Make: KIA, Vehicle Count: 1832
Year: 2023, Make: LAND ROVER, Vehicle Count: 6
Year: 2023, Make: LEXUS, Vehicle Count: 46
Year: 2023, Make: LINCOLN, Vehicle Count: 44
Year: 2023, Make: LUCID, Vehicle Count: 68
Year: 2023, Make: MERCEDES-BENZ, Vehicle Count: 414
Year: 2023, Make: MINI, Vehicle Count: 438
Year: 2023, Make: MITSUBISHI, Vehicle Count: 236
Year: 2023, Make: NISSAN, Vehicle Count: 1000
Year: 2023, Make: POLESTAR, Vehicle Count: 354
Year: 2023, Make: PORSCHE, Vehicle Count: 124
Year: 2023, Make: RIVIAN, Vehicle Count: 664
Year: 2023, Make: SUBARU, Vehicle Count: 334
Year: 2023, Make: TESLA, Vehicle Count: 16944
Year: 2023, Make: TOYOTA, Vehicle Count: 366
Year: 2023, Make: VOLKSWAGEN, Vehicle Count: 1398
Year: 2023, Make: VOLVO, Vehicle Count: 1366

Calculate the total cost of all electric vehicles bought in 2017

In [61]:
query1= "SELECT SUM(BaseMSRP) AS TotalCost FROM vehicles WHERE Year = 2017 AND ElectricVehicleType = 'Battery Electric Vehicle (BEV)';"
cursor.execute(query1)

results = cursor.fetchall()

# Print the count of vehicles by Make and Year
for row in results:
  sum = row[0]
  print(f"Totalcost: {sum}")

Totalcost: 9997500